/* -------- banner 1 --------- */
.title_subtitle {
  display: flex;
  flex-direction: column;
  justify-items: left;
  gap: 2rem;
}

.title_subtitle .custom-button {
  width: fit-content;
  position: relative;
}

/* -------- banner 1 --------- */

/* -------- banner 2 --------- */

.banner2 {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  justify-content: center;
}

.banner2 .title {
  text-align: center;
}

.banner2_cards {
  display: grid;
  gap: 1.5rem;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}

.b2_card {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1.5rem;
  border: 2px solid black;
  border-radius: 15px;
  transition: all 0.3s ease;
}

.b2_card:hover {
  background-color: #ffecef;
  transform: rotate(-5deg);
}

.b2_card h3 {
  color: black;
}

.b2_card p {
  width: 100%;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  font-size: 1rem;
}

/* -------- banner 2 --------- */

/* -------- banner 3 --------- */

section3 .title_subtitle {
  text-align: left;
}

section3 .title_subtitle p {
  font-size: 1rem;
}
/* -------- banner 3 --------- */

/* -------- banner 4 --------- */
section4 {
  overflow: hidden;
  width: 100%;
}

.banner4 .custom-button-4 {
  font-size: 0.9rem;
  text-align: center;
  background-color: #ffecef;
  color: black;
  font-weight: 600;
  padding: 0.8rem 1.8rem;
  border-radius: 50px;
  border: solid;
  border-width: 2px;
  border-color: black;
  box-shadow: 0px 5px black;
}

.banner4 .left {
  white-space: nowrap;
  padding-top: 1rem;
  display: flex;
  padding-bottom: 1rem;
  gap: 1rem;
  animation: scroll-left 10s linear infinite;
  margin-bottom: 2rem;
}

@keyframes scroll-left {
  0% {
    transform: translateX(0%);
  }

  100% {
    transform: translateX(-50%);
  }
}

.banner4 .right {
  white-space: nowrap;
  padding-top: 1rem;
  display: flex;
  padding-bottom: 1rem;
  gap: 1rem;
  animation: scroll-right 10s linear infinite;
}

@keyframes scroll-right {
  0% {
    transform: translateX(-50%);
  }

  100% {
    transform: translateX(0%);
  }
}

.banner4 {
  display: flex;
  flex-direction: column;
  gap: 4rem;
  overflow-x: hidden;
}

.banner4 .title {
  text-align: center;
}

/* -------- banner 4 --------- */

/* -------- banner 5 --------- */
.banner5 p {
  font-size: 1rem;
}
/* -------- banner 5 --------- */

/* -------- banner 5 cards --------- */
.banner5_cards {
  margin-top: 5%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  row-gap: 20px;
  column-gap: 20px;
}

.banner5_cards a {
  color: black;
}

.banner5_cards .banner5_card_template {
  height: auto;
  width: auto;
  display: flex;
  flex-direction: column;
  background-color: #ffebee;
  padding: 1.5rem;
  border-radius: 10px;
  gap: 1rem;
}

.banner5_cards .banner5_card_template img {
  border-radius: 10px;
  width: 100%;
  height: 100%;
  transition: 300ms;
}

.banner5_cards .banner5_card_template .card_title {
  display: flex;
  flex-direction: row;
  font-size: 0.9rem;
  justify-content: space-between;
  font-weight: 600;
  opacity: 0.8;
}

.banner5_cards .banner5_card_template .card_title .card_title_1 {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}

.banner5_cards .banner5_card_template .card_title .card_rating {
  display: flex;
  flex-direction: row;
  gap: 5px;
}

.banner5_cards .banner5_card_template .card_title .card_rating i {
  color: orange;
}

.banner5_cards .banner5_card_template .banner5_cards_heading {
  font-family: "DM Sans";
  font-weight: 900;
  font-size: 1.5rem;
  opacity: 0.9;
  line-height: 1.66rem;
}

.banner5_cards .banner5_card_template .banner5_button {
  font-size: 0.9rem;
  text-align: center;
  background-color: #ffecef;
  color: black;
  font-weight: 600;
  padding: 0.8rem 1.8rem;
  border-radius: 50px;
  border: solid;
  border-width: 2px;
  border-color: black;
  box-shadow: 0px 5px black;
  transition: background-color 300ms;
}

.banner5_cards .banner5_card_template .banner5_button:hover {
  background-color: #06068a;
  color: white;
}

.b5_image_container {
  display: inline-block;
  overflow: hidden;
  border-radius: 10px;
}

.b5_course_title {
  transition: color 300ms;
}

.b5_course_title:hover {
  color: #06068a;
}

.banner5_cards .banner5_card_template:hover {
  .banner5_cards_heading {
    color: #06068a;
  }

  img {
    transform: scale(1.1);
  }
}

/* -------- banner 5 --------- */

/* -------- banner 6 --------- */
section6 .banner6 .title_subtitle {
  gap: 1rem;
  text-align: left;
}

.banner6 .title_subtitle p {
  font-size: 1rem;
}

.b6-checklist {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
/* -------- banner 6 --------- */

/* ----- banner 7 ------ */
.banner7 {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.banner7 .title {
  text-align: center;
}

.b7_reviews {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 3rem;
  padding-left: 1rem;
  padding-right: 1rem;
}

.b7_reviews .reviews {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.b7_reviews .reviews > .reviewer {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
}

.b7_reviews .reviews > .reviewer > img {
  border-radius: 100%;
  border: solid black 3px;
  width: 70px;
  height: 70px;
}

.b7_reviews p {
  font-size: 1rem;
}

.b7_reviews .reviews > .reviewer > .reviewer_info {
  display: flex;
  flex-direction: column;
}

.b7_reviews .reviews > .reviewer > .reviewer_info p {
  font-size: 14px !important;
  font-weight: 400 !important;
}

.b7_reviews .reviews > .reviewer > .reviewer_info > h4 {
  font-size: large;
}

.b7_reviews .reviews > .reviewer > .reviewer_info > p {
  font-size: 0.9rem;
  font-weight: 500;
}

/* ----- banner 7 ------ */

/* banner 8 */
.banner8 .FAQ {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.icon::before {
  top: 50%;
  left: 0;
  width: 100%;
  height: 2px;
  transform: translateY(-50%);
}

.icon::after {
  top: 0;
  left: 50%;
  width: 2px;
  height: 100%;
  transform: translateX(-50%);
}

.accordion-container {
  background-color: #ffecef;
  width: 100%;
  border: solid black 4px;
  border-radius: 10px;
}

.accordion-div {
  border-bottom: solid black 4px;
  transition: all;
}

.accordion {
  cursor: pointer;
  width: 100%;
  padding: 1rem 2rem;
  text-align: left;
  transition: 0.4s ease;
}

.panel {
  display: none;
  padding: 1rem 2rem;
  background-color: white;
  overflow: hidden;
}

.accordion.active + .panel {
  display: block;
}

/* banner 8 */

/* banner 9 */
.banner9 {
  max-width: 700px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.banner9 .download {
  justify-content: center;
  display: flex;
  flex-direction: row;
  gap: 1rem;
}
/* banner 9 */

/* Footer */
.section-footer {
  color: #000;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.section-footer h4,
p {
  font-size: 1rem !important;
}

.container-default {
  width: 100%;
}

.footer-widgets {
  display: grid;
  gap: 2rem;
  grid-template-columns: 1fr 1fr;
}

.footer-links {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: 1rem !important;
}

.footer-widget-item {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.footer_logo_title {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 5px;
}

.footer_logo_title h1 {
  color: black;
}

.footer-email {
  color: #000;
  text-decoration: none;
  transition: all 0.3s;
}

.footer-email:hover {
  text-decoration: underline;
}

.footer-social {
  display: flex;
  gap: 1rem;
}

.social-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.1);
  color: #000;
  text-decoration: none;
  transition: all 0.3s;
}

.social-link:hover {
  background-color: indigo;
  color: #fff;
}

.footer-widget-title {
  font-size: 1.25rem;
  font-weight: 600;
}

.footer-nav {
  list-style-type: none;
}

.footer-nav li {
  margin-bottom: 0.5rem;
}

.footer-nav a {
  color: #000;
  text-decoration: none;
  transition: all 0.3s;
}

.footer-nav a:hover {
  text-decoration: underline;
}

.horizontal-line {
  height: 1px;
  background-color: #000;
  opacity: 0.1;
}

.footer-bottom {
  text-align: center;
  padding: 18px 0;
}

/* Footer */
